<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sdg.dao.DeptMapper">
	<insert id="addDept" parameterType="com.sdg.entity.Dept"
		useGeneratedKeys="true"
		keyProperty="deptno">
		insert into dept values(null,#{dname},#{dloc})
	</insert>
	
	<!-- 嵌套查询 -->
	<select id="findByDeptnoOne" parameterType="integer" resultMap="deptMapOne">
		select * from dept where deptno=#{deptno}
	</select>
	<resultMap type="com.sdg.entity.Dept" id="deptMapOne">
		<collection property="emps" javaType="java.util.ArrayList"
			ofType="com.sdg.entity.Emp" column="deptno"
			select="findEmps"/>
	</resultMap>
	<select id="findEmps" resultType="com.sdg.entity.Emp"
	parameterType="integer">
		select * from emp where deptno=#{deptno}
	</select>
	
	<!-- 嵌套结果查询 -->
	<select id="findByDeptnoTwo" parameterType="integer" resultMap="deptMapTwo">
		select e.*,d.* from dept d join emp e on d.deptno=e.deptno where d.deptno=#{deptno}
	</select>
	
	<resultMap type="com.sdg.entity.Dept" id="deptMapTwo">
		<id property="deptno" column="deptno"/>
		<result property="dname" column="dname"/>
		<result property="dloc" column="dloc"/>
		<collection property="emps" column="deptno"
			javaType="java.util.ArrayList" ofType="com.sdg.entity.Emp" >
			<id property="empno" column="empno"/>
			<result property="empno" column="empno"/>
			<result property="ename" column="ename"/>
			<result property="salary" column="salary"/>
			<result property="bonus" column="bonus"/>
			<result property="hiredate" column="hiredate"/>
			<result property="deptno" column="deptno"/>
		</collection>
	</resultMap>
	
	
</mapper>